# Server
PORT=3000

# MySQL (isi dengan kredensial Railway MySQL)
DB_HOST=your_railway_mysql_host
DB_USER=your_railway_mysql_user
DB_PASSWORD=your_railway_mysql_password
DB_NAME=db_edasmart
DB_PORT=3306

# JWT
JWT_SECRET=ganti_dengan_secret_yang_kuat_dan_random

# MQTT HiveMQ
MQTT_HOST=your_hivemq_host
MQTT_PORT=8883
MQTT_USERNAME=your_mqtt_username
MQTT_PASSWORD=your_mqtt_password
